<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">product</a></li>
        <li><a href="">product_category</a></li>
	</ol>

	<h1 class="page-header">Productt Category</h1>

	<div class="row" style="margin-left: 1px;">
		<button data-toggle="modal" href='#categor_add_modal' class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add new Category </button>
	</div>


	<div class="row">
	    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all Product Category</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>description</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="category in categories" >
                                    <td>{{category.name}}</td>
                                    <td>{{category.description}}</td>
                                    <td>
                                        <button class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <button  @click="selectTax(tax)"  data-toggle="modal" href='#tax_edit_modal'  class="btn btn-success btn-icon btn-circle btn-sm">
                                                <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-icon btn-circle btn-sm">
                                                <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>



    <div class="modal fade" id="categor_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">name</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" v-model="newCategory.name"  name="" required placeholder="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Description</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="email" v-model="newCategory.description" name="" required placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

    
</div>

</template>

<script>
import axios from 'axios'
export default{

 data () {
    return{
        categories:[],
        newCategory:{
            name:'',
            description:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
        clickedcategory:{}
    }
 },    

    mounted:function(){
        this.getAllCategories();
    },
    

    methods:{

        getAllCategories:function(){
            var self=this;
            axios.get('http://localhost:7000/api/category/').then(function(response){
                self.categories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveCategory:function(){
             axios.post('').then(function(response){
                this.categories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        selectTax(tax){
            this.clickedtax=tax;
        },

        updateCategory:function(){
            axios.post('').then(function(response){
                this.categories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteCategory:function(){
            axios.post('').then(function(response){
                this.categories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>