<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">customer</a></li>
	</ol>

	<h1 class="page-header">Customer Page</h1>

	<div class="row" style="margin-left: 1px;">
		<button data-toggle="modal" href='#customer_add_modal' class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add new customer </button>
	</div>


	<div class="row">
	    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all customers</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>address</th>
                                    <th>phone</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="customer in customers">
                                   <td>{{customer._id}}</td>
                                   <td>{{customer.customer_code}}</td>
                                   <td>{{customer.customer_name}}</td>
                                   <td>{{customer.email}}</td>
                                   <td>{{customer.address}}</td>
                                   <td>{{customer.phone}}</td>
                                    <td>
                                         <button @click="showCustomer(customer.id)" class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <button @click="selectCustomer(customer)"  data-toggle="modal" href='#customer_edit_modal'   class="btn btn-success btn-icon btn-circle btn-sm">
                                                <i class="fa fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger btn-icon btn-circle btn-sm">
                                                <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>


        <div class="modal fade" id="customer_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">customer code</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" v-model="clickedcustomer.customer_code" type="text" name="customer_code" required placeholder="" value="" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">customer name</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="clickedcustomer.name" name="name" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">email</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="email" v-model="clickedcustomer.email"  name="email" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">password</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" v-model="clickedcustomer.password"  name="password" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">gender</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" name="gender" v-model="clickedcustomer.gender">
                                        <option value="" selected>select_gender</option>
                                        <option value="1">male</option>
                                        <option value="2">female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">address</label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea class="form-control" v-model="clickedcustomer.address" name="address" placeholder="" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">phone</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="clickedcustomer.phone" name="phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">discount</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="clickedcustomer.discount_percentage" name="discount_percentage" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">image</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="file" name="userfile"/>
                                </div>
                            </div>

                        </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="customer_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">customer code</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" v-model="newcustomer.customer_code" type="text" name="customer_code" required placeholder="" value="" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">customer name</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="newcustomer.name" name="name" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">email</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="email" v-model="newcustomer.email"  name="email" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">password</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" v-model="newcustomer.password"  name="password" required placeholder="" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">gender</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" name="gender" v-model="newcustomer.gender">
                                        <option value="" selected>select_gender</option>
                                        <option value="1">male</option>
                                        <option value="2">female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">address</label>
                                <div class="col-md-6 col-sm-6">
                                    <textarea class="form-control" v-model="newcustomer.address" name="address" placeholder="" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">phone</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="newcustomer.phone" name="phone" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">discount</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" v-model="newcustomer.discount_percentage" name="discount_percentage" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4">image</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="file" name="userfile"/>
                                </div>
                            </div>

                        </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>


        <div class="modal fade" id="tax_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_code</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_code" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_name" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_percentage</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_percentage" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">notes </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" v-model="newTax.tax_note" name="" rows="3"></textarea>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>
    

</div>
<!-- end #content -->


</template>

<script>


import axios from 'axios'

export default {
  name: 'Customer',
  data () {
    return{
        customers:{},
        newcustomer:{
            customer_code:'',
            customer_name:'',
            email:'',
            phone:'',
            address:'',
            gender:'',
            discount_percentage:'',
            password:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
        clickedcustomer:{}
    } 
  },

mounted:function(){
    this.getAllcustomers();
},

methods:{

    getAllcustomers:function(){
        var self = this;
        axios.get('http://localhost:7000/api/customer/').then(function(response){
            console.log(response.data);
            self.customers=response.data;
        }).catch(function(response){
            console.log(response);
        }); 
    },

    savecustomer:function(e){
        var self = this;
        console.log();
        var data={
        company_name:self.newcustomer.company_name,
        customer_name:self.newcustomer.customer_name,
        email:self.newcustomer.email,
        phone:self.newcustomer.phone
        }

        axios.post('http://localhost:7000/api/customer/',data).then(function(response){
            this.getAllcustomers();
        }).catch(function(response){
            console.log(response);
        });  
    },

    selectCustomer(customer){
        this.clickedcustomer=customer;
    },
}

}
</script>