<template>
  <!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
        <li><a href="">dashboard</a></li>
        <li><a href="">damaged_product</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">Damaged Product</h1>
	<!-- end page-header -->

	<!-- new damaged_product addition link -->
	<div class="row" style="margin-left: 1px;">
		<button class="btn btn-success m-r-5">
			<i class="fa fa-plus"></i> add_damaged_product
		</button>
	</div>

	<br>
	<!-- new damaged_product addition link -->

	<div class="row">
		<!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all_damaged_products</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>name</th>
                                    <th>category</th>
                                    <th>purchase_price</th>
                                    <th>quantity</th>
                                    <th>notes</th>
                                    <th>date</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> {item.id}  </td>
                                    <td> {item.code} </td>
                                    <td> {item.Name}</td>
                                    <td> {item.Category}</td>
                                    <td> {item.PurchasePrice}</td>
                                    <td> {item.SellingPrice}</td>
                                    <td> {item.InStock}</td>
                                    <td> 
                                        <button @click="showDamagedProduct()"  class="btn btn-info btn-icon btn-circle btn-sm"> 
                                            <i className="fa fa-info"></i>
                                        </button>
                                        
                                        <button @click="editDamagedProduct()" class="btn btn-success btn-icon btn-circle btn-sm">
                                            <i className="fa fa-edit"></i>
                                        </button>
            
                                        <button @click="deleteDamagedProduct()"  className="btn btn-danger btn-icon btn-circle btn-sm">
                                            <i className="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>



    <div class="modal fade" id="damaged-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ezzitech</h4>
            </div>

            <div class="modal-body">

                <form class="form-horizontal form-bordered" data-parsley-validate="true" encType="multipart/form-data" method="post" acceptCharset="utf-8">

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Category</label>

                        <div class="col-md-6 col-sm-6">
                            <select class="form-control selectpicker" 
                            data-size="10" data-live-search="true" data-style="btn-white" v-model="product_id" name="product_id">
                                <option value="" selected="">Select Product</option>
                                <option value="1">Shirt-123</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Damaged Quantity</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="number" v-model="quantity" name="quantity" required="" placeholder="Damaged Product Quantity" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Notes</label>
                        <div class="col-md-6 col-sm-6">
                            <textarea class="form-control" v-model="note" name="note" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" name="check">
                                <option value="" selected="">Decrease From Stock ? </option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-success">Save Damaged Product</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

</div>
<!-- end #content -->
</template>

<script>

export default{

    data:{
        dproducts:[],
        newdproduct:{
            damaged_product_id:'',
            product_id:'',
            quantity:'',
            note:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    },    

    mounted:function(){
        this.getAlldProducts();
    },
    

    methods:{

        getAlldProducts:function(){
            axios.get('').then(function(response){
                this.dproducts=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        savedProduct:function(){
             axios.post('').then(function(response){
                this.dproducts=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updatedProduct:function(){
            axios.post('').then(function(response){
                this.dproducts=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deletedProduct:function(){
            axios.post('').then(function(response){
                this.dproducts=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>
