<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">employeer</a></li>
	</ol>

	<h1 class="page-header">Employeer Page</h1>

	<div class="row" style="margin-left: 1px;">
		<button data-toggle="modal" href='#employeer_add_modal' class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add new Employeer </button>
	</div>


	<div class="row">
	    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all employeers</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>email</th>
                                    <th>address</th>
                                    <th>phone</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr v-for="employee in employees">
                                    <td>{{employee._id}}</td>
                                    <td>{{employee.employee_name}}</td>
                                    <td>{{employee.email}} </td>
                                    <td>{{employee.address}}</td>
                                    <td>{{employee.phone}}</td>
                                    <td>
                                        <button  class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <button @click="selectEmployee(employee)"  data-toggle="modal" href='#employee_edit_modal' class="btn btn-success btn-icon btn-circle btn-sm">
                                                <i class="fa fa-edit"></i>
                                        </button>
                                        <button  class="btn btn-danger btn-icon btn-circle btn-sm">
                                                <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>


    <div class="modal fade" id="employee_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Employee Name </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="clickedemployee.employee_name" name="" required="" placeholder="Employee Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Email </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="email" v-model="clickedemployee.email" name="" required="" placeholder="Employee Email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Password </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" name="" required="" placeholder="Employee Password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Type </label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control selectpicker"  data-size="10" data-live-search="true" data-style="btn-white" name="" required="">
                                    <option value="" selected="">Select Employee Type</option>
                                    <option value="1">Sales Staff</option>
                                    <option value="2">Purchase Staff</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Phone </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="clickedemployee.phone" name="" placeholder="Employee Phone Number"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Address </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" name="" v-model="clickedemployee.address" placeholder="Employee Address" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Image </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="file" name="userfile"  placeholder="Employee Image"/>
                            </div>
                        </div>
	
                    </form>
                
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="employeer_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Employee Name </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newEmployee.employee_name" name="" required="" placeholder="Employee Name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Email </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="email" v-model="newEmployee.email" name="" required="" placeholder="Employee Email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Password </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="password" name="" required="" placeholder="Employee Password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Type </label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control selectpicker"  data-size="10" data-live-search="true" data-style="btn-white" name="" required="">
                                    <option value="" selected="">Select Employee Type</option>
                                    <option value="1">Sales Staff</option>
                                    <option value="2">Purchase Staff</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Phone </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newEmployee.phone" name="" placeholder="Employee Phone Number"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Address </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" name="" v-model="newEmployee.address" placeholder="Employee Address" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                Image </label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="file" name="userfile"  placeholder="Employee Image"/>
                            </div>
                        </div>
	
                    </form>
                
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>



</div>
<!-- end #content -->

</template>

<script>

import axios from 'axios'

export default{

    data () {
        return{
            employees:[],
            newEmployee:{
                employee_name:'',
                email:'',
                phone:'',
                address:''
            },
            showingAddModal:false,
            showingEditModal:false,
            showingDeleteModal:false,
            errorMessage:'',
            successMessage:'',
            clickedemployee:{}
        }
    },    

    mounted:function(){
        this.getAllEmployees();
    },
    

    methods:{

        getAllEmployees:function(){
            var self = this;
            axios.get('http://localhost:7000/api/employee/').then(function(response){
                self.employees=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveEmployee:function(){
             axios.post('').then(function(response){
                this.employees=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        selectEmployee(employee){
            this.clickedemployee=employee;
        },

        updateEmployee:function(){
            axios.post('').then(function(response){
                this.employees=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteEmployee:function(){
            axios.post('').then(function(response){
                this.employees=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}


</script>