<template>
  <!-- begin #content -->
<div id="content" class="content">

	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
        <li><a href="">dashboard</a></li>
        <li><a href="">new_sale</a></li>
		<li><a href="">sale_invoices</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">Sale Invoice</h1>
	<!-- end page-header -->

    <!-- new product addition link -->
    <div class="row" style="margin-left: 1px;">
        <router-link to="/invoice" class="btn btn-success m-r-5" ><i class="fa fa-plus"></i> add new Invoice  </router-link>
    </div>

    <br>
    <!-- new product addition link -->

	<div class="row">
		<!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">sale_invoices</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>customer</th>
                                    <th>date</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="sale in invoices">
                                    <td>{{sale._id}}</td>
                                    <td>{{sale.invoice_code}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>


</div>
</template>



<script>

import axios from 'axios'
				
export default{   

 data () {
    return{
        invoices:[],
        showingAddModal:false,
        newinvoice:{
            invoice_code:'',
            invoice_entries:'',
            discount_percentage:'',
            vat_percentage:'',
            sub_total:'',
            grand_total:'',
            due:'',
            customer_id:''
        },
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    }
 },   

    mounted:function(){
        this.getAllInvoices();
    },
    

    methods:{

        getAllInvoices:function(){
            var self=this;
            axios.get('http://localhost:7000/api/invoice/').then(function(response){
                self.invoices=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveInvoice:function(){
             axios.post('').then(function(response){
                this.invoices=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updateInvoice:function(){
            axios.post('').then(function(response){
                this.invoices=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteInvoice:function(){
            axios.post('').then(function(response){
                this.invoices=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>