<template>
            <div>
            <div class="login-cover">
                <div class="login-cover-image"><img src="assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" /></div>
                <div class="login-cover-bg"></div>
            </div>

            <div id="page-container" class="fade in">
                <div class="login login-v2">
                    <div class="login-header">
                        <div class="brand">
                            <span class="logo"></span> Color Admin
                            <small>responsive bootstrap 3 admin template</small>
                        </div>
                        <div class="icon">
                            <i class="fa fa-sign-in"></i>
                        </div>
                    </div>
                    <div class="login-content">
                        <form onSubmit={this.signin} method="POST" class="margin-bottom-0">
                            <div class="form-group m-b-20">
                                <input type="text" class="form-control input-lg" ref="login_email" placeholder="Email Address" required />
                            </div>
                            <div class="form-group m-b-20">
                                <input type="password" class="form-control input-lg" ref="login_password" placeholder="Password" required />
                            </div>
                            <div class="checkbox m-b-20">
                                <label>
                                    <input type="checkbox" ref="login_remember" /> Remember Me
                                </label>
                            </div>
                            <div class="login-buttons">
                                <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                            </div>
                            <div class="m-t-20">
                                Not a member yet? Click <a href="#">here</a> to register.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</template>


<script>
export default {
  
  data:{
      
  },

  mounted:function(){

  },

  methods:{
  
  }
}
</script>
