<template>
  


<!-- begin #content -->
<div id="content" class="content">

	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">create_new_order</a></li>
		<li><a href="">all_orders</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">Create Order</h1>
	<!-- end page-header -->

	<form method="" action="">

	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
	        <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">basic_informations</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-6" style="border-right: 1px solid #ccc;">
                    	<div class="note note-success">
							<h4>Instructions</h4>
							<ul>
								<li>Check and recheck added products before creating the order. Products added can not be edited later but other informations are editable.</li>
								<li>You can add multiple products in a single order.</li>
								<li>If order status and payment status is not selected, they will be automatically counted as pending order with unpaid payment status.</li>
								<li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
							</ul>
						</div>
                    </div>
                    <div class="col-md-6">

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3"> order_code </label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" v-model="order_number" name="order_number" data-parsley-required="true" readonly />
                            </div>
                        </div>

                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">customer</label>
							<div class="col-md-9 col-sm-9">
							    <select class="form-control selectpicker" data-size="10" data-live-search="true"
							    	data-style="btn-white" data-parsley-required="true" v-model="customer_id" name="customer_id">
									<option value="" selected>select_customer</option>
									<option value=""></option>
					            </select>
							</div>
						</div>

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">date</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" class="form-control" id="datepicker-autoClose" name="creating_timestamp"/>
                            </div>
                        </div>

					</div>
                </div>
            </div>
	        <!-- end panel -->
		</div>
	</div>

<div id="order_info">
	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
	        <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">purchase_products</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                    	<div class="form-group">
							<div class="col-md-12 col-sm-12">
							    <select  class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-success" name="product_id">
									<option value="" selected>add_a_product</option>
									<option value=""></option>
					            </select>
							</div>
						</div>
                    </div>

                    <div class="col-md-9">
                    	<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>serial</th>
										<th>name</th>
										<th>quantity</th>
										<th>unit_price</th>
										<th>total</th>
										<th><i class="fa fa-trash"></i></th>
									</tr>
								</thead>
								<tbody id="order_entry_holder">

								</tbody>
							</table>
						</div>
                    </div>

                </div>
            </div>
	        <!-- end panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<!-- begin panel -->
            <div class="panel panel-default" data-sortable-id="ui-widget-10">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">other_informations</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
						<label class="control-label col-md-3 col-sm-3">order_status</label>
						<div class="col-md-9 col-sm-9">
						    <select class="form-control selectpicker" data-size="10" data-live-search="true" 
							data-style="btn-white" data-parsley-required="true" v-model="order_status" name="order_status">
				                <option value="" selected>select_order_status</option>
				                <option value="0">pending</option>
				                <option value="1">approved</option>
				                <option value="2">rejected</option>
				            </select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3">payment_status</label>
						<div class="col-md-9 col-sm-9">
						    <select class="form-control selectpicker" data-size="10" data-live-search="true"
							 data-style="btn-white" data-parsley-required="true" v-model="payment_status" name="payment_status">
				                <option value="" selected>select_payment_status</option>
				                <option value="0">unpaid</option>
				                <option value="1">paid</option>
				            </select>
						</div>
					</div>

					<div class="form-group">
				        <label class="control-label col-md-3 col-sm-3">address</label>
				        <div class="col-md-9 col-sm-9">
				            <textarea class="form-control" v-model="shipping_address" name="shipping_address" placeholder="shipping_address');?>" rows="3"></textarea>
				        </div>
				    </div>

				    <div class="form-group">
				        <label class="control-label col-md-3 col-sm-3">note </label>
				        <div class="col-md-9 col-sm-9">
				            <textarea class="form-control" v-model="note" name="note" placeholder="notes" rows="3"></textarea>
				        </div>
				    </div>

                </div>
            </div>
            <!-- end panel -->
		</div>
		<div class="col-md-5">
			<!-- begin panel -->
            <div class="panel panel-default" data-sortable-id="ui-widget-10">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">
                    	payment
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>sub_total</td>
									<td>
										<input type="text" class="form-control text-right" id="sub_total" value="" v-model="sub_total" name="sub_total">
									</td>
								</tr>
								<tr>
									<td>discount</td>
									<td id="customer_discount_holder">

									</td>
								</tr>
								<tr>
									<td>VAT</td>
									<td>
										<input class="form-control text-right" type="text" v-model="vat_percentage" name="vat_percentage" id="vat_percentage"
												placeholder="VAT percentage"
												data-parsley-required="true">
									</td>
								</tr>
								<tr>
									<td>grand_total</td>
									<td>
										<input type="text" class="form-control text-right" id="grand_total" value="" v-model="grand_total" name="grand_total">
									</td>
								</tr>
								<tr>
									<td>payment</td>
									<td>
										<input class="form-control text-right" type="text" name="" id="payment" value=""
													data-parsley-required="true">
									</td>
								</tr>
								<tr>
										<td>change</td>
										<td>
											<input type="text" class="form-control text-right" value="" id="change_amount">
										</td>
									</tr>
									<tr>
										<td>net_payment</td>
										<td>
											<input type="text" class="form-control text-right" value="" id="net_payment"
												name="amount">
										</td>
									</tr>
									<tr>
										<td>due</td>
										<td>
											<input type="text" class="form-control text-right" value="" v-model="due" id="due_amount"
												name="due">
										</td>
									</tr>
									<tr>
										<td>method</td>
										<td>
											<select class="form-control" name="method" data-parsley-required="true">
								                <option value="" selected>select_payment_method</option>
								                <option value="1">cash</option>
								                <option value="2">check</option>
								                <option value="3">card</option>
								            </select>
										</td>
									</tr>
							</tbody>
						</table>
						<div class="form-group col-md-10">
							<button type="submit" class="btn btn-success">create_new_order</button>
						</div>
					</div>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>
</div>

</form>

</div>

</template>

<script>
      export default{
        data:{
			newdOrder:{
				order_number:'',
				customer_id:'',
				order_entries:'',
				vat_percentage:'',
				discount_percentage:'',
				sub_total:'',
				grand_total:'',
				due:'',
				shipping_address:'',
				order_status:'',
				payment_status:'',
				note:''
			}
        },
        mounted(){
            axios.get('').then(function(response){
                this.order=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },
        methods:{
            saveForm(){
                event.preventDefault();
                var neworder=this.order
            }
        }
    }
</script>