<template>
  <!-- begin #content -->
<div id="content" class="content">

	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
        <li><a href="">dashboard</a></li>
        <li><a href="">create_new_order</a></li>
        <li><a href="">all_orders</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header"><?php echo $page_title;?></h1>
	<!-- end page-header -->

        <!-- new product addition link -->
    <div class="row" style="margin-left: 1px;">
        <router-link to="/order" class="btn btn-success m-r-5" ><i class="fa fa-plus"></i> add new Order  </router-link>
    </div>

    <br>
    <!-- new product addition link -->

	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li class="active">
                    <a href="#nav-pills-tab-1" data-toggle="tab">
                        <i class=" fa fa-spinner"></i> pending
                    </a>
                </li>
				<li>
                    <a href="#nav-pills-tab-2" data-toggle="tab">
                        <i class=" fa fa-thumbs-up"></i> approved
                    </a>
                </li>
				<li>
                    <a href="#nav-pills-tab-3" data-toggle="tab">
                        <i class=" fa fa-thumbs-down"></i> rejected
                    </a>
                </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="nav-pills-tab-1">
				    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>order_code</th>
                                    <th>customer</th>
                                    <th>email</th>
                                    <th>date_created</th>
                                    <th>last_modified</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody> 

                                 <tr v-for="order in orders">
                                    <td> {{order._id}}       </td>
                                    <td> {{order.order_number}} </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<div class="tab-pane fade" id="nav-pills-tab-2">
				    <div class="table-responsive">
                        
                        <table id="data-table2" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>order_code</th>
                                    <th>customer</th>
                                    <th>email</th>
                                    <th>date_created</th>
                                    <th>last_modified</th>
                                    <th>options</th>
                                </tr>
                            </thead>

                            <tbody> 
                                <tr>
                                    <td> {item.id}       </td>
                                    <td> {item.ordercode} </td>
                                    <td> {item.customer}  </td>
                                    <td> {item.email} </td>
                                    <td> {item.date_created}</td>
                                    <td> {item.last_modified}</td>
                                    <td>
                                        <a href="" class="btn btn-info btn-xs">change_status</a>
                                        <a href="" class="btn btn-success btn-xs">view_invoice</a>
                                        <a href="" class="btn btn-primary btn-xs"><i class="fa fa-money"></i>take_payment</a> 
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
				</div>
				<div class="tab-pane fade" id="nav-pills-tab-3">
				    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>order_code</th>
                                    <th>customer</th>
                                    <th>email</th>
                                    <th>date_created</th>
                                    <th>last_modified</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="order in orders">
                                    <td> {{order._id}}       </td>
                                    <td> {{order.order_number}} </td>
                                    <td>
                                        <a href="" class="btn btn-info btn-xs">change_status</a>
                                        <a href="" class="btn btn-success btn-xs">view_invoice</a>
                                        <a href="" class="btn btn-primary btn-xs"><i class="fa fa-money"></i>take_payment</a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</template>


<script>
import axios from 'axios'
export default{

data () {
    return{
        orders:[],
        newdOrder:{
            order_number:'',
            customer_id:'',
            order_entries:'',
            vat_percentage:'',
            discount_percentage:'',
            sub_total:'',
            grand_total:'',
            due:'',
            shipping_address:'',
            order_status:'',
            payment_status:'',
            note:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    }
},  

    mounted:function(){
        this.getAllOrders();
    },
    

    methods:{

        getAllOrders:function(){
            var self=this;
            axios.get('http://localhost:7000/api/order/').then(function(response){
                self.orders=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveOrder:function(){
             axios.post('').then(function(response){
                this.orders=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updateOrder:function(){
            axios.post('').then(function(response){
                this.orders=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteOrder:function(){
            axios.post('').then(function(response){
                this.orders=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>