<template>
    
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li> <a href=""> dashboard </a> </li>
        <li> <a href=""> payments </a></li>
        <li> <a href=""> customer_payments </a></li>
    </ol>
    <!-- end breadcrumb -->

	<!-- begin page-header -->
	    <h1 class="page-header"> Payment Report</h1>
	<!-- end page-header -->

	<br>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<!-- begin panel -->
	        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">select_date_range
                    </h4>
                </div>
                <div class="panel-body">

                    <form action="" method="" enctype="multipart/form-data">
						
                        <div class="form-group">
						    <label class="col-md-3">date_range</label>
						    <div class="col-md-8">
						        <div class="input-group input-daterange">
						            <input type="text" class="form-control" name="start"
						            	value="" />
						            <span class="input-group-addon">to</span>
						            <input type="text" class="form-control" name="end"
						            	value="" />
						        </div>
						    </div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-sm-3"></label>
							<div class="col-md-8 col-sm-8">
								<button type="submit" class="btn btn-success">go</button>
							</div>
						</div>
                    </form>
                </div>
            </div>
	        <!-- end panel -->
		</div>
		<div class="col-md-3">
			<div class="alert alert-info fade in m-b-15">
				<strong></strong>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
	        <div class="widget-chart bg-black">
	            <div class="">
	                <h4 class="chart-title"></h4>
	                <div id="chartdiv" style="height: 500px; width: 100%;"></div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">payments</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>date</th>
                                    <th>amount</th>
                                    <th>type</th>
                                    <th>method</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>

</div>

</template>

<script>
    
</script>