<template>
    
    <form>

    <div class="form-group">
		<label class="control-label col-md-4 col-sm-4">product_code</label>
		<div class="col-md-6 col-sm-6">
			<input class="form-control" type="text" v-model="serial_number" name="serial_number" required
				placeholder="" readonly />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">product_name</label>
		<div class="col-md-6 col-sm-6">
            <input class="form-control" type="text" v-model="name" name="name" required placeholder="product_name" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">category
		</label>
		<div class="col-md-6 col-sm-6">
		    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
				v-model="category_id" name="category_id">
                <option value="" selected>select_product_category</option>
                <option value=""></option>
            </select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">sub_category</label>
		<div class="col-md-6 col-sm-6">
		    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" 
				v-model="sub_category_id"	name="sub_category_id">
                <option value="" selected>select_product_sub_category</option>
                <option value=""></option>
            </select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">purchase_price</label>
		<div class="col-md-6 col-sm-6">
			<input class="form-control" type="text" v-model="purchase_price" name="purchase_price" required/>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">selling_price</label>
		<div class="col-md-6 col-sm-6">
			<input class="form-control" type="text" v-model="selling_price" name="selling_price" required/>
		</div>
	</div>

    <div class="form-group">
        <label class="control-label col-md-4 col-sm-4">notes</label>
        <div class="col-md-6 col-sm-6">
            <textarea class="form-control" name="note" rows="3"></textarea>
        </div>
    </div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4">image</label>
		<div class="col-md-6 col-sm-6">
			<input class="form-control" type="file" name="userfile" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-4 col-sm-4"></label>
		<div class="col-md-6 col-sm-6">
			<button type="submit" class="btn btn-success">save_product</button>
		</div>
	</div>

</form>

</template>


<script>
	export default {    
		mounted(){
			axios.get('').then(function(response){
				this.product=response.data;
			}).catch(function(response){
				console.log(response);
			}); 
		},
		
		data:{
			newdproduct:{
				product_id:'',
				serial_number:'',
				category_id:'',
				sub_category_id:'',
				name:'',
				purchase_price:'',
				selling_price:'',
				stock_quantity:''
			},
		},

		methods:{
			saveForm(){

			}
		}
	}
</script>