<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
        <li><a href="">product</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">ProductList</h1>
	<!-- end page-header -->

	<!-- new product addition link -->
	<div class="row" style="margin-left: 1px;">
        <router-link to="/product" class="btn btn-success m-r-5" ><i class="fa fa-plus"></i> add new product  </router-link>
	</div>

	<br>
	<!-- new product addition link -->

	<div class="row">
		<!-- begin col-12 -->
	    <div class="col-md-12">
	        <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all_products</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>code</th>
                                    <th>name</th>
                                    <th>category</th>
                                    <th>purchase_price</th>
                                    <th>selling_price</th>
                                    <th>in_stock</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                     <td>{item.id}  </td>
                                    <td> {item.code} </td>
                                    <td> {item.Name}</td>
                                    <td> {item.Category}</td>
                                    <td> {item.PurchasePrice}</td>
                                    <td> {item.SellingPrice}</td>
                                    <td> {item.InStock}</td>
                                    <td> 
                                        <button @click="showProduct()"  class="btn btn-info btn-icon btn-circle btn-sm"> 
                                            <i className="fa fa-info"></i>
                                        </button>
                                        
                                        <button @click="editProduct()" class="btn btn-success btn-icon btn-circle btn-sm">
                                            <i className="fa fa-edit"></i>
                                        </button>
            
                                        <button @click="deleteProduct()"  className="btn btn-danger btn-icon btn-circle btn-sm">
                                            <i className="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>

</div>
<!-- end #content -->
</template>

<script>

export default{

    data:{
        products:[],
        newdproduct:{
            product_id:'',
            serial_number:'',
            category_id:'',
            sub_category_id:'',
            name:'',
            purchase_price:'',
            selling_price:'',
            stock_quantity:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    },    

    mounted:function(){
        this.getAllProducts();
    },
    

    methods:{

        getAllProducts:function(){
            axios.get('').then(function(response){
                this.products=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveProduct:function(){
             axios.post('').then(function(response){
                this.products=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updateProduct:function(){
            axios.post('').then(function(response){
                this.products=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteProduct:function(){
            axios.post('').then(function(response){
                this.products=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>