<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
        <li><a href="">dashboard</a></li>
        <li><a href="">profile_settings</a></li>
	</ol>
	<h1 class="page-header">Profile Setting</h1>
	<div class="row">
		<div class="col-md-6">
			<!-- begin panel -->
	        <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">
                        basic_informations
                    </h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">
                                image
                            </label>
                            <div class="col-md-9 col-sm-9">
                                <img style="height: 50% ; width: 50%;" src="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">
                                name
                            </label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" v-model="name" name="name" data-parsley-required="true"
                                    placeholder="your_name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">
                                email
                            </label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" v-model="email" name="email" data-parsley-required="true"
                                    placeholder="your_email" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">
                                image
                            </label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="file" name="userfile"
                                    placeholder="admin_image" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3"></label>
                            <div class="col-md-9 col-sm-9">
                                <button type="submit" class="btn btn-success">update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
	        <!-- end panel -->
		</div>
		<div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">
                        change_password
                    </h4>
                </div>
                <div class="panel-body">

                <form>
                        <div class="form-group">
                            <label class="control-label col-md-5 col-sm-5">
                                current_password
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input class="form-control" type="password" v-model="previous_password" name="previous_password" data-parsley-required="true"
                                    placeholder="your_present_password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5 col-sm-5">
                                new_password
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input class="form-control" type="password" v-model="new_password" name="new_password" data-parsley-required="true"
                                    placeholder="your_new_password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5 col-sm-5">
                                confirm_new_password
                            </label>
                            <div class="col-md-7 col-sm-7">
                                <input class="form-control" type="password" v-model="confirm_password" name="confirm_password" data-parsley-required="true"
                                    placeholder="confirm_new_password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-5 col-sm-5"></label>
                            <div class="col-md-7 col-sm-7">
                                <button type="submit" class="btn btn-success">update</button>
                            </div>
                        </div>

                </form>
                </div>
            </div>
            <!-- end panel -->
                </div>
            </div>
		</div>
	</div>
</div>
</template>

<script>
export default {
  
  data:{
      newProfile:{

      }
  },

  mounted:function(){

  },

  methods:{
  
  }
}
</script>
