<template>
	<div id="content" class="content">
		<ol class="breadcrumb pull-right">
			<li><a href="">dashboard</a></li>
			<li><a href="">new_purchase</a></li>
			<li><a href="">purchase_history</a></li>
		</ol>
		
		<h1 class="page-header">Purhase List</h1>

		        <!-- new product addition link -->
    <div class="row" style="margin-left: 1px;">
        <router-link to="/purchase" class="btn btn-success m-r-5" ><i class="fa fa-plus"></i> add new Purchase  </router-link>
    </div>

    <br>
    <!-- new product addition link -->
	
		<div class="row">
			<!-- begin col-12 -->
			<div class="col-md-12">
				<!-- begin panel -->
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						</div>
						<h4 class="panel-title">purchase_history</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							
							<table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>code</th>
										<th>supplier</th>
										<th>date</th>
										<th>options</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="purchase in purchases">
										<td>{{purchase._id}}</td>
										<td>{{purchase.purchase_code}}</td>
										<td> <a href="" class="btn btn-success btn-xs"> <i class="fa fa-eye"></i>view_purchase_invoice</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end panel -->
			</div>
			<!-- end col-12 -->
		</div>
</div>

</template>

<script>
import axios from 'axios'
export default{

 data () {
    return{
        purchases:[],
        newdPurchase:{
			purchase_code:'',
			supplier_id:'',
			purchase_entries:''
		},
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
	}
 },   

    mounted:function(){
        this.getAllPurchases();
    },
    

    methods:{
		
        getAllPurchases:function(){
			var self=this;
            axios.get('http://localhost:7000/api/purchase/').then(function(response){
                self.purchases=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        savePurchase:function(){
             axios.post('').then(function(response){
                this.purchases=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updatePurchase:function(){
            axios.post('').then(function(response){
                this.purchases=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deletePurchase:function(){
            axios.post('').then(function(response){
                this.purchases=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>