<template>
    
    <div id="content" class="content">
	    <ol class="breadcrumb pull-right">
		    <li> <a href="">dashboard</a></li>
		    <li><a href="">new_purchsae</a></li>
		    <li><a href="">purchase_history</a></li>
	    </ol>
	    
        <h1 class="page-header">purchase</h1>

    <form>
        
	<div class="row">
		<div class="col-md-12">
	        <div class="panel panel-inverse">
                
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">basic_informations</h4>
                </div>
                
                <div class="panel-body">
                    
                    <div class="col-md-6" style="border-right: 1px solid #ccc;">
                    	<div class="note note-success">
							<h4>Instructions</h4>
							<ul>
								<li>Check and recheck the informations you have given before creating the purchase. The purchase once made can not be altered.</li>
								<li>You can add multiple products of any amount during the purchase.</li>
								<li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
							</ul>
						</div>
                    </div>

                    <div class="col-md-6">

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">purchase_code</label>
                            <div class="col-md-9 col-sm-9">
                                <input class="form-control" type="text" v-model="purchase_id" name="purchase_code" data-parsley-required="true" value="" readonly />
                            </div>
                        </div>

                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">supplier</label>
							<div class="col-md-9 col-sm-9">
							    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" 
                                data-parsley-required="true" v-model="supplier_id" name="supplier_id">
					                <option value="" selected> select_supplier </option>
                                    <option value="">[name]- [company]</option>
					            </select>
							</div>
						</div>

						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">date</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="text" class="form-control" id="datepicker-autoClose" name="timestamp" placeholder="" value=""/>
                            </div>
                        </div>

					</div>
                </div>
            </div>
	        <!-- end panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
	        <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">purchase_products</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                    	<div class="form-group">
							<div class="col-md-12 col-sm-12">
							    <select onchange="" class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-success" name="product_id">
					                <option value="" selected>add_a_product</option>
					                <option value="">name (stock_quantity)</option>
					            </select>
							</div>
						</div>
                    </div>

                    <div class="col-md-9">
                    	<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>serial</th>
										<th>name</th>
										<th>quantity</th>
										<th>unit_price</th>
										<th>total</th>
										<th><i class="fa fa-trash"></i></th>
									</tr>
								</thead>
								<tbody id="purchase_entry_holder">

								</tbody>
							</table>
						</div>
                    </div>

                </div>
            </div>
	        <!-- end panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-7"></div>
		<div class="col-md-5">
			<!-- begin panel -->
            <div class="panel panel-default" data-sortable-id="ui-widget-10">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">
                    	payment
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>grand_total</td>
									<td class="text-right" id="grand_total"></td>
								</tr>
								<tr>
									<td>payment</td>
									<td>
										<input class="form-control" type="text" name="amount" id="" value="" placeholder="enter_payment_amount"
											data-parsley-required="true">
									</td>
								</tr>
								<tr>
									<td>method</td>
									<td>
										<select class="form-control" name="method">
							                <option value="" selected>select_payment_method</option>
							                <option value="1">cash</option>
							                <option value="2">check</option>
							                <option value="3">card</option>
							            </select>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group col-md-10">
							<button type="submit" class="btn btn-success">create_new_purchase</button>
						</div>
					</div>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>

</form>
</div>

</template>




<script>
	export default {    
		mounted(){
			axios.get('').then(function(response){
				this.purchase=response.data;
			}).catch(function(response){
				console.log(response);
			}); 
		},
		
		data:{
			purchase:{
				purchase_code:'',
				supplier_id:'',
				purchase_entries:''
			}
		},

		methods:{
			saveForm(){

			}
		}
	}
</script>