<template>
        <!-- begin #content -->
<div id="content" class="content">

	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
        <li> <a href="">dashboard </a> </li>
        <li> <a href="">new_sale</a> </li>
        <li> <a href="">new_sale </a> </li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">Sale Payment</h1>
	<!-- end page-header -->

	<div class="row">
		<div class="col-md-12">
			<!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">invoice_code</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                    	<table class="table table-bordered table-striped">
                    		<thead>
                    			<tr>
	                    			<td>#</td>
	                    			<td>product_code</td>
	                    			<td>name</td>
	                    			<td>quantity</td>
	                    			<td>unit_price</td>
	                    		</tr>
                    		</thead>
                    		<tbody>
                    			<tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                    			</tr>
                    		</tbody>
                    	</table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">take_payment</h4>
                </div>
                <div class="panel-body">
                    <form action="" method="" enctype="multipart/form-data">
						<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">payment</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" name="amount" data-parsley-required="true"
                                	placeholder="enter_payment_amount" />
                            </div>
                        </div>

                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">method</label>
							<div class="col-md-6 col-sm-6">
							    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" data-parsley-required="true" name="method">
					                <option value="" selected>select_payment_method</option>
					                <option value="1">cash</option>
					                <option value="2">check</option>
					                <option value="3">card</option>
					            </select>
							</div>
						</div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">date</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" id="datepicker-autoClose" name="timestamp" data-parsley-required="true"
                                	placeholder="select_date" />
                            </div>
                        </div>

                        <input type="hidden" name="customer_id" value="<?php echo $row['customer_id'];?>">
                        <input type="hidden" name="invoice_id" value="<?php echo $row['invoice_id'];?>">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3"></label>
                            <div class="col-md-6 col-sm-6">
                            	<button type="submit" class="btn btn-success">take_payment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
		</div>
		<div class="col-md-6">
			<!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">amounts</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                    	<table class="table table-bordered table-striped">
                    		<tbody>
                    			<tr>
                    				<td>VAT</td>
                    				<td>%</td>
                    			</tr>
                    			<tr>
                    				<td>discount</td>
                    				<td>%</td>
                    			</tr>
                    			<tr>
                    				<td>grand_total</td>
                    				<td></td>
                    			</tr>
                    			<tr>
                    				<td>due</td>
                    				<td></td>
                    			</tr>
                    		</tbody>
                    	</table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>

</div>
</template>


<script>

export default{

    data:{

    },    

    mounted:function(){
       
    },
    
    methods:{


    }
}

</script>