<template>
<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">new_sale</a></li>
		<li><a href="">sale_invoices</a></li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">Add Sale</h1>
	<!-- end page-header -->

	<form method="post" action="" enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-12">
				<!-- begin panel -->
		        <div class="panel panel-inverse">
	                <div class="panel-heading">
	                    <div class="panel-heading-btn">
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
	                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
	                    </div>
	                    <h4 class="panel-title">basic_informations</h4>
	                </div>
	                <div class="panel-body">
	                    <div class="col-md-6" style="border-right: 1px solid #ccc;">
	                    	<div class="note note-success">
								<h4>Instructions</h4>
								<ul>
									<li>Check and recheck before creating the sale. The sale once made can not be altered.</li>
									<li>You can add product either by barcode scan or by selecting product category.</li>
									<li>You can enter discount percentage and also can choose your previously set tax percentage form tax settings.</li>
									<li>Enter the payment amount that the customer gives and see the change amount and net payable amount.</li>
									<li>The number in parenthesis in product selector represents the present stock quantity of the product.</li>
								</ul>
							</div>
	                    </div>
	                    <div class="col-md-6">

							<div class="form-group">
	                            <label class="control-label col-md-3 col-sm-3">invoice_code</label>
	                            <div class="col-md-9 col-sm-9">
	                                <input class="form-control" type="text" v-model="invoice_code" name="invoice_code" data-parsley-required="true" readonly />
	                            </div>
	                        </div>

	                        <div class="form-group">
								<label class="control-label col-md-3 col-sm-3">customer</label>
								<div class="col-md-9 col-sm-9">
								    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
								    	data-parsley-required="true" v-model="customer_id" name="customer_id">
						                <option value="" selected>select_customer</option>
	                                    <option value=""></option>
						            </select>
								</div>
							</div>

							<div class="form-group">
	                            <label class="control-label col-md-3 col-sm-3">date</label>
	                            <div class="col-md-9 col-sm-9">
	                                <input type="text" class="form-control" id="datepicker-autoClose" name="timestamp"/>
	                            </div>
	                        </div>

						</div>
	                </div>
	            </div>
		        <!-- end panel -->
			</div>
		</div>

		<div id="sale_info">
			<div class="row">
				<div class="col-md-3">
					<!-- begin panel -->
			        <div class="panel panel-success">
		                <div class="panel-heading">
		                    <div class="panel-heading-btn">
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		                    </div>
		                    <h4 class="panel-title">select_product_by_barcode</h4>
		                </div>
		                <div class="panel-body">

		                    <div class="form-group">
		                        <div class="col-md-12 col-sm-12">
		                            <input type="text" placeholder="click_here_to_scan_barcode" class="form-control" name="" autofocus
		                            id="barcode" onKeyPress="return barcode_input(event , this.value)" autocomplete="off">
		                        </div>
		                    </div>

						</div>
		            </div>
			        <!-- end panel -->

			        <!-- begin panel -->
			        <div class="panel panel-warning">
		                <div class="panel-heading">
		                    <div class="panel-heading-btn">
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		                    </div>
		                    <h4 class="panel-title">select_product_by_category</h4>
		                </div>
		                <div class="panel-body">

		                    <div class="form-group">
								<div class="col-md-12 col-sm-12">
								    <select onchange="get_product('category' , this.value)" class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" name="category_id">
						                <option value="" selected>select_a_category</option>
		                                <option value=""></option>
						            </select>
								</div>
							</div>

							<div id="sub_category_holder">

							</div>

						</div>
		            </div>
			        <!-- end panel -->

			        <!-- begin panel -->
			        <div class="panel panel-info">
		                <div class="panel-heading">
		                    <div class="panel-heading-btn">
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		                    </div>
		                    <h4 class="panel-title">select_products_to_sale</h4>
		                </div>
		                <div class="panel-body">
			                <div id="product_list_holder">

			                </div>
						</div>
		            </div>
			        <!-- end panel -->

				</div>

				<div class="col-md-9">
		        	<!-- begin panel -->
			        <div class="panel panel-inverse">
		                <div class="panel-heading">
		                    <div class="panel-heading-btn">
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		                    </div>
		                    <h4 class="panel-title">select_products_to_sale</h4>
		                </div>
		                <div class="panel-body">
			                <div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>serial</th>
											<th>name</th>
											<th>quantity</th>
											<th>unit_price</th>
											<th>total</th>
											<th><i class="fa fa-trash"></i></th>
										</tr>
									</thead>
									<tbody id="invoice_entry_holder">

									</tbody>
								</table>
							</div>
						</div>
		            </div>
			        <!-- end panel -->
			        <div class="col-md-5"></div>
			        <div class="col-md-7">
				        <!-- begin panel -->
			            <div class="panel panel-default" data-sortable-id="ui-widget-10">
			                <div class="panel-heading">
			                    <div class="panel-heading-btn">
			                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			                    </div>
			                    <h4 class="panel-title">payment</h4>
			                </div>
			                <div class="panel-body">
			                    <div class="table-responsive">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td>sub_total</td>
												<td>
													<input type="text" class="form-control text-right" id="sub_total" value="" v-model="sub_total" name="sub_total">
												</td>
											</tr>
											<tr>
												<td>discount</td>
												<td id="customer_discount_holder">

												</td>
											</tr>
											<tr>
												<td>tax</td>
												<td>
													<select  class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white"
															data-parsley-required="true" v-model="tax_percentage" id="tax_percentage">
															<option value="0" selected>none</option>
		                                                    <option value=""></option>
										            </select>
												</td>
											</tr>
											<tr>
												<td>grand_total</td>
												<td>
													<input type="text" class="form-control text-right" id="grand_total" value="" v-model="grand_total" name="grand_total">
												</td>
											</tr>
											<tr>
												<td>payment</td>
												<td>
													<input class="form-control text-right" type="text" name="" id="payment" value=""data-parsley-required="true">
												</td>
											</tr>
											<tr>
												<td>change</td>
												<td>
													<input type="text" class="form-control text-right" value="" id="change_amount">
												</td>
											</tr>
											<tr>
												<td>net_payment</td>
												<td>
													<input type="text" class="form-control text-right" value="" id="net_payment"
														name="amount">
												</td>
											</tr>
											<tr>
												<td>due</td>
												<td>
													<input type="text" class="form-control text-right" v-model="due" value="" id="due_amount"
														name="due">
												</td>
											</tr>
											<tr>
												<td>method</td>
												<td>
													<select class="form-control" name="method">
										                <option value="" selected>select_payment_method</option>
										                <option value="1">cash</option>
										                <option value="2">check</option>
										                <option value="3">card</option>
										            </select>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group col-md-10">
										<button type="submit" class="btn btn-success">create_new_sale</button>
									</div>
								</div>
			                </div>
			            </div>
			            <!-- end panel -->
			        </div>
		        </div>

			</div>
		</div>
	</form>
</div>
</template>


<script>
	export default {    
		mounted:function(){
			axios.get('').then(function(response){
				this.invoice=response.data;
			}).catch(function(response){
				console.log(response);
			}); 
		},
		
		data:{
			newinvoice:{
				invoice_code:'',
				invoice_entries:'',
				discount_percentage:'',
				vat_percentage:'',
				sub_total:'',
				grand_total:'',
				due:'',
				customer_id:''
        	},
		},

		methods:{
			saveForm(){

			}
		}
	}
</script>