<template>
    <div id="content" class="content">
	    
        <ol class="breadcrumb pull-right">
		    <li><a href="">dashboard</a></li>
		    <li><a href="">system_settings</a></li>
        </ol>
	    
        <h1 class="page-header">setting</h1>
	
        <div class="row">
		    <div class="col-md-8">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">general_informations</h4>
                    </div>
                <div class="panel-body">
                    
                    <form action="" method="" enctype="multipart/form-data">
						
                        <div class="form-group">
							<label class="control-label col-md-3 col-sm-3">company_name</label>
							<div class="col-md-9 col-sm-9">
								<input class="form-control" type="text" v-model="company_name" name="company_name" data-parsley-required="true" placeholder="" value="" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3">company_email</label>
							<div class="col-md-9 col-sm-9">
								<input class="form-control" type="text" v-model="company_email" name="company_email" data-parsley-required="true"
									placeholder="" value="" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3">address</label>
							<div class="col-md-9 col-sm-9">
								<input class="form-control" type="text" v-model="address" name="address" placeholder="" value="" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3">phone</label>
							<div class="col-md-9 col-sm-9">
								<input class="form-control" type="text" v-model="phone" name="phone" placeholder="" value="" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3">currency</label>
							<div class="col-md-9 col-sm-9">
								<input class="form-control" type="text" v-model="currency" name="currency" placeholder="" value="" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3"></label>
							<div class="col-md-9 col-sm-9">
								<button type="submit" class="btn btn-success">update</button>
							</div>
						</div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
		</div>
		<div class="col-md-4">
			<!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">update_logo</h4>
                </div>
                <div class="panel-body">
                    <form action="" method="" enctype="multipart/form-data"> 
						<div class="form-group">
							<div class="col-md-12 col-sm-12">
								<img style="height: 50% ; width: 50%;" src="<?php echo base_url();?>uploads/logo/logo.png">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12 col-sm-12">
								<input class="form-control" type="file" name="userfile"
									placeholder="" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-success">update</button>
							</div>
						</div>
                    </form>
                </div>
            </div>
            <!-- end panel -->
		</div>
	</div>
</div>


</template>


<script>

export default{

    data:{
        seetings:[],
        newTax:{
            type:'',
            description:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    },    

    mounted:function(){
        this.getAllSettings();
    },
    

    methods:{

        getAllSettings:function(){
            axios.get('').then(function(response){
                this.seetings=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveSetting:function(){
             axios.post('').then(function(response){
                this.seetings=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updateSetting:function(){
            axios.post('').then(function(response){
                this.seetings=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },
    }
}
