<template>
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">product</a></li>
        <li><a href="">product_sub_category</a></li>
	</ol>

	<h1 class="page-header">Product Sub Category</h1>

	<div class="row" style="margin-left: 1px;">
		<button data-toggle="modal" href='#subcategory_add_modal' class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add new Sub Category </button>
	</div>


	<div class="row">
	    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all Product Sub Category</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>name</th>
                                    <th>Category </th>
                                    <th>description</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="subcategory in subcategories">
                                    <td>{{subcategory.name}}</td>
                                    <td>{{subcategory.category}} </td>
                                    <td>{{subcategory.description}}</td>
                                    <td>
                                        <button @click="showSubCategory(subcategory.id)" class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <button @click="editSubCategory(subcategory.id)" class="btn btn-success btn-icon btn-circle btn-sm">
                                                <i class="fa fa-edit"></i>
                                        </button>
                                        <button @click="deleteSubCategory(subcategory.id)" class="btn btn-danger btn-icon btn-circle btn-sm">
                                                <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>


    <div class="modal fade" id="subcategory_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">name</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="text" v-model="newSubCategory.name" name="name" required placeholder="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"> Category</label>
                        <div class="col-md-6 col-sm-6">
                            <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" 
                            ref="category_name" v-model="newSubCategory.category_id" name="category_id" required="">
                            <option value="" selected="">Select Product Category</option>
                            <option value="1">Child Cloth</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Description</label>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" type="email" v-model="newSubCategory.description" name="description" required placeholder="" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- end #content -->


</template>

<script>
import axios from 'axios'
export default{

data () {
    return{
        subcategories:[],
        newSubCategory:{
            name:'',
            description:'',
            category_id:''
        },
        showingAddModal:false,
        showingEditModal:false,
        showingDeleteModal:false,
        errorMessage:'',
        successMessage:'',
    }
},  

    mounted:function(){
        this.getAllSubCategories();
    },
    

    methods:{

        getAllSubCategories:function(){
            var self=this;
            axios.get('http://localhost:7000/api/subcategory/').then(function(response){
                console.log(response.data);
                self.subcategories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveSubCategory:function(){
             axios.post('').then(function(response){
                this.subcategories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        updateSubCategory:function(){
            axios.post('').then(function(response){
                this.subcategories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteSubCategory:function(){
            axios.post('').then(function(response){
                this.subcategories=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>