<template>

<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a href="">dashboard</a></li>
		<li><a href="">supplier</a></li>
	</ol>

	<h1 class="page-header">supplier Page</h1>

	<div class="row" style="margin-left: 1px;">
		<button data-toggle="modal" href='#supplier_add_modal'  class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add new supplier </button>
	</div>


	<div class="row">
	    <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">all suppliers</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        
                        <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>company</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>phone</th>
                                    <th>options</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="supplier in suppliers">
                                    <td>{{supplier._id}}</td>
                                    <td>{{supplier.company_name}}</td>
                                    <td>{{supplier.supplier_name}}</td>
                                    <td>{{supplier.email}}</td>
                                    <td>{{supplier.phone}}</td>
                                    <td>
                                         <button @click="showSupplier(customer.id)" class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                        </button>
                                        <button @click="editSupplier(customer.id)" class="btn btn-success btn-icon btn-circle btn-sm">
                                                <i class="fa fa-edit"></i>
                                        </button>
                                        <button @click="deleteSupplier(customer.id)" class="btn btn-danger btn-icon btn-circle btn-sm">
                                                <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
	</div>


        <div class="modal fade" id="supplier_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">company name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newSupplier.company_name"  name="company_name" required placeholder="" value="" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">supplier name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newSupplier.supplier_name" name="name" required placeholder="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">email</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="email"  v-model="newSupplier.email" name="email" required placeholder="" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">phone</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newSupplier.phone" name="phone" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">image</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="file" name="userfile"/>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="saveSupplier();">Save changes</button>
                </div>

            </div>
        </div>
    </div>

</div>

</template>

<script>

import axios from 'axios'

export default{
    
     data: function() {
        //suppliers: []

        return  {
            suppliers:{},
            newSupplier:{
                company_name:'',
                supplier_name:'',
                email:'',
                phone:''
            },
            showingAddModal:false,
            showingEditModal:false,
            showingDeleteModal:false,
            errorMessage:'',
            successMessage:''
         } 
    },

    mounted:function(){
        this.getAllSuppliers();
    },

    toFormData:function(obj){
        var form_data=new FormData();
        for (var key in obj) {
            form_data.append(key,obj[key]);
        }
        return form_data;
    },

    methods:{

        getAllSuppliers:function(){
            var self = this;
            axios.get('http://localhost:7000/api/supplier/').then(function(response){
                console.log(response.data);
                self.suppliers=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveSupplier:function(e){
          console.log(newSupplier.email);
       /*  var formData=app.toFormData(app.newSupplier);

             axios.post('http://localhost:7000/api/supplier/',formData).then(function(response){
                this.suppliers=response.data;
            }).catch(function(response){
                console.log(response);
            });  */
        },

        updateSupplier:function(){
            axios.post('').then(function(response){
                this.suppliers=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteSupplier:function(){
            axios.post('').then(function(response){
                this.suppliers=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        }
    }
}

</script>