<template>
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="">dashboard</a></li>
            <li><a href="">tax_settings</a></li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Tax Setting</h1>
        <!-- end page-header -->
        <!-- new supplier addition link -->
        <div class="row" style="margin-left: 1px;">
            <button data-toggle="modal" href='#tax_add_modal' class="btn btn-success m-r-5"> <i class="fa fa-plus"></i> add_tax </button>
        </div>

        <br>
        <!-- new supplier addition link -->

        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">taxes</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table id="data-table" class="table table-striped table-bordered nowrap display" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>code</th>
                                        <th>name</th>
                                        <th>percentage</th>
                                        <th>notes</th>
                                        <th>options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tax in taxs">
                                        <td>{{tax._id}}</td>
                                        <td>{{tax.tax_code}}</td>
                                        <td>{{tax.tax_name}}</td>
                                        <td>{{tax.tax_percentage}}%</td>
                                        <td>{{tax.tax_notes}}</td>
                                        <td>
                                            <button  class="btn btn-info btn-icon btn-circle btn-sm">
                                                <i class="fa fa-user"></i>
                                            </button>
                                            <button @click="selectTax(tax)" data-toggle="modal" href='#tax_edit_modal' class="btn btn-success btn-icon btn-circle btn-sm"> <i class="fa fa-edit"></i></button>
                                            <button  class="btn btn-danger btn-icon btn-circle btn-sm"> <i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>


    <div class="modal fade" id="tax_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_code</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_code" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_name" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_percentage</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="newTax.tax_percentage" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">notes </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" v-model="newTax.tax_note" name="" rows="3"></textarea>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="tax_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data" class="">

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_code</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="clickedtax.tax_code" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="clickedtax.tax_name" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">tax_percentage</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" v-model="clickedtax.tax_percentage" name="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">notes </label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" v-model="clickedtax.tax_note" name="" rows="3"></textarea>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>
        



    </div>
    <!-- end #content -->
</template>

<script>

import axios from 'axios'

export default{

    data () {
    return{
            taxs:[],
            newTax:{
                tax_code:'',
                name:'',
                percentage:'',
                note:'',
            },
            showingAddModal:false,
            showingEditModal:false,
            showingDeleteModal:false,
            errorMessage:'',
            successMessage:'',
            clickedtax:{}
        }
    },    

    mounted:function(){
        this.getAllTaxs();
    },
    

    methods:{

        getAllTaxs:function(){
            var self=this;
            axios.get('http://localhost:7000/api/tax/').then(function(response){
                self.taxs=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        saveTax:function(){
             axios.post('').then(function(response){
           //     this.taxs=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        selectTax(tax){
            this.clickedtax=tax;
        },

 /*       updateTax:function(){
            axios.post('').then(function(response){
                this.taxs=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        },

        deleteTax:function(){
            axios.post('').then(function(response){
                this.taxs=response.data;
            }).catch(function(response){
                console.log(response);
            }); 
        } */
    }
}

</script>
