<template>
  <div id="app">

      <div id="header" class="header navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                <router-link to="/" class="navbar-brand"><span class="navbar-logo"></span>  Inventory </router-link>
                  <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <form class="navbar-form full-width">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter keyword" />
                              <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                          </div>
                      </form>
                  </li>
                  <li class="dropdown">
                      <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                          <i class="fa fa-bell-o"></i>
                          <span class="label">5</span>
                      </a>
                      <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                          <li class="dropdown-header">Notifications (5)</li>
                          <li class="media">
                              <a href="javascript:;">
                                  <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                  <div class="media-body">
                                      <h6 class="media-heading">Server Error Reports</h6>
                                      <div class="text-muted f-s-11">3 minutes ago</div>
                                  </div>
                              </a>
                          </li>
                          <li class="dropdown-footer text-center">
                              <Link to="/notification">View more</Link>
                          </li>
                      </ul>
                  </li>


                  <li class="dropdown navbar-user">
                      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                          <img src="assets/img/user-13.jpg" alt="" /> 
                          <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                          <li class="arrow"></li>
                          <li> 
                            <router-link to="/profile"> <i class="fa fa-users"> </i> <span>Profile </span> </router-link> </li>
                          <li> <a href="/messaging">Messaging</a></li>
                          <li> <a href="/setting">System Setting</a></li>
                          <li><a href="">Log Out</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>

      <div id="sidebar" class="sidebar">
        <div data-scrollbar="true" data-height="100%">
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image"> <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a></div>
                    <div class="info">Sean Ngu<small>Front end developer</small></div>
                </li>
            </ul>

            <ul class="nav">
              <li class="active">
                <router-link to="/"><i class="fa fa-users"></i> <span>Dashboard </span> </router-link>
              </li>
              <li>
                <router-link to="/customer"> <i class="fa fa-users"> </i> <span>customer </span> </router-link>
              </li>
              <li class="">
                <router-link to="/supplier"> <i class="fa fa-users"> </i> <span>Supplier </span> </router-link>
               </li>
              <li class=""> 
                 <router-link to="/employeer"> <i class="fa fa-users"> </i> <span>Employeer </span> </router-link>
              </li>
              <li class="has-sub">
                  <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-shopping-cart"></i>
                      <span>Manage Products</span>
                  </a>
                  <ul>
                      <li class=""> <router-link to="/product">Product  </router-link> </li>
                      <li class=""> <a  href="/product_barcode">Prodcut Barcode</a> </li>
                      <li class=""> <router-link to="/category">Category  </router-link> </li>
                      <li class=""> <router-link to="/subcategory">Sub Category  </router-link></li>
                      <li class=""> <router-link to="/damagedProduct">Damaged Produc </router-link></li>
                  </ul>
              </li>

              <li class="has-sub">
                  <a href="javascript:;"><b class="caret pull-right"></b><i class="fa fa-bell"></i>
                      <span>Manage Orders</span>
                  </a>
                  <ul>
                      <li class=""> <router-link to="/orderCreate">Create New Order  </router-link> </li>
                      <li class=""> <router-link to="/order">All Orders  </router-link> </li>
                  </ul>
              </li>

              <li class="has-sub">
                  <a href="javascript:;">
                      <b class="caret pull-right"></b>
                      <i class="fa fa-bell"></i>
                      <span>Manage Purchases</span>
                  </a>
                  <ul>
                      <li class=""> <router-link to="/purchaseCreate">New Purchases </router-link> </li>
                      <li class=""> <router-link to="/purchase">Purchase History  </router-link></li>
                  </ul>
              </li>

              <li class="has-sub">
                  <a href="javascript:;">
                      <b class="caret pull-right"></b>
                      <i class="fa fa-bell"></i>
                      <span>Manage Sales</span>
                  </a>
                  <ul>
                      <li class=""> <router-link to="/saleCreate">New Sales </router-link> </li>
                      <li class=""> <router-link to="/invoice">Sales Invoice</router-link></li>
                  </ul>
              </li>


              <li class="has-sub">
                  <a href="javascript:;">
                      <b class="caret pull-right"></b>
                      <i class="fa fa-bell"></i>
                      <span>Payments</span>
                  </a>
                  <ul class="sub-menu">
                      <li class=""> <router-link to="/paymentReport">Payments </router-link></li>
                      <li class=""><router-link to="/customerReport">Customer Payments </router-link></li>
                  </ul>
              </li>

              <li class=""> <a href="/messaging"> <i class="fa fa-users"></i> <span>Messaging</span> </a></li>

              <li class=""> 
                <router-link to="/tax"> <i class="fa fa-users"> </i> <span>Tax Settings </span> </router-link>
              </li>
              <li class="">
                <router-link to="/setting"> <i class="fa fa-users"> </i> <span>System Setting </span> </router-link>
              </li>
              
              <li>
                  <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
                  <i class="fa fa-angle-double-left"></i></a>
              </li>

            </ul>

        </div>

      </div>

      <div class="sidebar-bg"></div>
      <div id="content" className="content">
          <router-view></router-view>
      </div>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>



#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
